// bower:scss
// endbower

@import "modules/mixins";

body {
  @include defaults;
}

#landing-image {
  background-image: url('../images/triangles.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  #headline {
    margin: -75px 0 0 -336px;
    position: absolute;
    top: 50%;
    left: 50%;
    h1 {
      color: white;
      font-size: 80px;
      font-family: 'Source Code Pro', Helvetica, Arial, sans-serif;
      margin: 0;
    }
    h2 {
      color: white;
      font-size: 40px;
      font-family: 'Source Code Pro', Helvetica, Arial, sans-serif;
      margin: 0;
      text-align: center;
    }
  }
}
